<section id="about" class="container-fluid">
  <div class="row">
    <div class="col-md-3 col-left text-right pr-5">
      <fa-icon [icon]="['far', 'bookmark']" aria-hidden="true" size="2x"></fa-icon>
      <h2>About</h2>
      <h6>A little about me</h6>
    </div>
    <div class="col-md-9 col-right px-5">
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aaliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus.</p>
      <p>Praesent elementum hendrerit tortor. Sed semper lorem at felis. Vestibulum volutpat, lacus a ultrices sagittis, mi neque euismod dui, eu pulvinar nunc sapien ornare nisl. Phasellus pede arcu, dapibus eu, fermentum et, dapibus sed, urna. Fusce lacinia arcu et nulla. Nulla vitae mauris non felis mollis. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus</p>
    </div>
  </div>
</section>
