<div class="d-inline-flex list-group-horizontal list-group-flush p-0">
  <a class="list-group-item list-group-item-action text-primary" target="_blank" href="https://www.facebook.com/marcopgordillo">
    <fa-icon [icon]="['fab', 'facebook-f']"></fa-icon>
    <span class="sr-only">Facebook</span>
  </a>
  <a class="list-group-item list-group-item-action text-info" target="_blank" href="https://www.twitter.com/marcopgordillo">
    <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
    <span class="sr-only">Twitter</span>
  </a>
  <a class="list-group-item list-group-item-action text-primary" target="_blank" href="https://www.linkedin.com/in/marcopgordillo/">
    <fa-icon [icon]="['fab', 'linkedin-in']"></fa-icon>
    <span class="sr-only">Linkedin</span>
  </a>
  <a class="list-group-item list-group-item-action text-danger" target="_blank" href="https://www.instagram.com/marcopgordillo/">
    <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
    <span class="sr-only">Instagram</span>
  </a>
  <a class="list-group-item list-group-item-action text-dark" target="_blank" href="https://github.com/marcopgordillo">
    <fa-icon [icon]="['fab', 'github']"></fa-icon>
    <span class="sr-only">Github</span>
  </a>
</div>
<div class="wel-social">





</div>
