<section id="skills" class="skills">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-left">
        <h2>Skills</h2>
        <h6>What I love to do</h6>
      </div>
      <div class="col-md-9 col-right sec-pad">
        <div class="skill-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore magna aliqua. Praesent elementum hendrerit tortor. Sed semper lorem at felis. Vestibulum volutpat, lacus.</p>
          <div id="bt-ourskill" class="row progress-element">
            <div class="col-xs-6 pr-item">
              <div class="skill-info"><h4 class="skill-name">Adobe Photoshop</h4><div class="skill-val"><span class="counter">80</span>%</div></div>
              <div class="bt-skill">
                <div class="bt-skillholder" data-percent="88%"><div class="bt-skillbar"></div></div>
              </div>
            </div>
            <div class="col-xs-6 pr-item">
              <div class="skill-info"><h4 class="skill-name">Sketch 3.0</h4><div class="skill-val"><span class="counter">70</span>%</div></div>
              <div class="bt-skill">
                <div class="bt-skillholder" data-percent="88%"><div class="bt-skillbar"></div></div>
              </div>
            </div>
            <div class="col-xs-6 pr-item">
              <div class="skill-info"><h4 class="skill-name">Adobe Illustrator</h4><div class="skill-val"><span class="counter">60</span>%</div></div>
              <div class="bt-skill">
                <div class="bt-skillholder" data-percent="88%"><div class="bt-skillbar"></div></div>
              </div>
            </div>
            <div class="col-xs-6 pr-item">
              <div class="skill-info"><h4 class="skill-name">Invisonapp</h4><div class="skill-val"><span class="counter">70</span>%</div></div>
              <div class="bt-skill">
                <div class="bt-skillholder" data-percent="88%"><div class="bt-skillbar"></div></div>
              </div>
            </div>
            <div class="col-xs-6 pr-item">
              <div class="skill-info"><h4 class="skill-name">Bootstrap</h4><div class="skill-val"><span class="counter">80</span>%</div></div>
              <div class="bt-skill">
                <div class="bt-skillholder" data-percent="88%"><div class="bt-skillbar"></div></div>
              </div>
            </div>
            <div class="col-xs-6 pr-item">
              <div class="skill-info"><h4 class="skill-name">HTML5, CSS3</h4><span class="skill-val">80%</span></div>
              <div class="bt-skill">
                <div class="bt-skillholder" data-percent="88%"><div class="bt-skillbar"></div></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
