<section id="welcome">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-left text-center align-self-center">
        <img class="img-fluid img-thumbnail" src="/assets/images/photo.png" alt="photo">
        <app-social-menu></app-social-menu>
      </div>
      <div class="col-md-9 col-right">
        <div class="jumbotron bg-white">
          <h3 class="display-5">Hello, I am</h3>
          <h1 class="display-4">Marco Gordillo</h1>
          <h2 class="lead">Electronic and Telecommunications Engineer & Full Stack Software Developer</h2>
          <hr class="my-4" />
          <address>
            <div class="row">
              <div class="col-lg-3 text-primary">
                <fa-icon [icon]="['fas', 'map-marker-alt']" aria-hidden="true"></fa-icon>&nbsp;11060 Medlock Bridge Rd
              </div>
              <div class="col-lg-3 text-primary">
                <a target="_blank" href="https://marcopgordillo.github.com">
                  <fa-icon [icon]="['fas', 'globe']" aria-hidden="true"></fa-icon>&nbsp;marcopgordillo.github.com
                </a>
              </div>
              <div class="col-lg-3 text-primary">
                <a href="mailto:marcopgordillo@gmail.com">
                  <fa-icon [icon]="['far', 'envelope']" aria-hidden="true"></fa-icon>&nbsp;marcopgordillo@gmail.com
                </a>
              </div>
              <div class="col-lg-3 text-primary">
                <a href="tel:+14045284650">
                  <fa-icon [icon]="['fas', 'phone']" aria-hidden="true"></fa-icon>&nbsp;+1 404 528 4650
                </a>
              </div>
            </div>
          </address>
        </div>
      </div>
    </div>
  </div>
</section>
