section {
  overflow: hidden;
}

@media only screen and (min-width: 768px) {
  .col-left, .col-right {
    height: 100vh;
  }

  address {
     position: absolute;
     bottom: 70px;
     width: 93%;
   }
}

